.github/**
.husky/**
.vscode/**
images/**
out/**/*.map.js
out/hooks/**
src/**
**/.cspell.json
**/.editorconfig
**/.eslintignore
**/.eslintrc.json
**/.gitignore
**/.nvmrc
**/.prettierignore
**/.prettierrc.json
**/tsconfig.json
