.github/**
.husky/**
.vscode/**
fonts/**
images/**
node_modules/**
out/int/**
src/**
**/.cspell.json
**/.editorconfig
**/.eslintignore
**/.eslintrc.json
**/.gitignore
**/.nvmrc
**/.prettierignore
**/.prettierrc.json
**/esbuild.js
**/tsconfig.json
