.github/**
.husky/**
.vscode/**
fonts/**
images/**
node_modules/**
out/int/**
source/**
**/.cspell.json
**/.editorconfig
**/.eslintrc.json
**/.gitignore
**/.nvmrc
**/.prettierignore
**/.prettierrc.json
**/esbuild.js
**/eslint.config.mjs
**/tsconfig.json
